<!-- Main navigation -->
<header>
  <!--Navbar-->
  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-light fixed-top scrolling-navbar">
    <mdb-navbar-brand>
      <a class="logo navbar-brand waves-effect" mdbWavesEffect href="#" routerLink="/"><img src="../assets/img/ns-logo-white.png" style="height: 90px;"></a>
    </mdb-navbar-brand>
    <links>
      <ul class="navbar-nav w-100 text-center text-uppercase font-weight-bold">
        <li class="nav-item waves-light flex-fill" mdbWavesEffect>
          <a class="nav-link" href="#" routerLink="programmation">programmation</a>
        </li>
        <li class="nav-item waves-light flex-fill" mdbWavesEffect>
          <a class="nav-link" href="#" routerLink="billeterie">billetterie</a>
        </li>
        <li class="nav-item waves-light flex-fill" mdbWavesEffect>
          <a class="nav-link" href="#" routerLink="plan-du-festival">plan du festival</a>
        </li>
        <li class="nav-item waves-light flex-fill" mdbWavesEffect>
          <a class="nav-link" href="#" routerLink="photos">photos</a>
        </li>
        <li class="nav-item waves-light flex-fill" mdbWavesEffect>
          <a class="nav-link" href="#" routerLink="news">news</a>
        </li>
        <li class="nav-item waves-light flex-fill" mdbWavesEffect>
          <a class="nav-link" href="#" routerLink="infos-pratiques-faq">infos pratiques & faq</a>
        </li>
        <li class="nav-item waves-light flex-fill" mdbWavesEffect>
          <a class="nav-link" href="#" routerLink="partenaires">partenaires</a>
        </li>
      </ul>
    </links>
  </mdb-navbar>
</header>
<!-- Main navigation -->

<router-outlet></router-outlet>

<!-- Footer -->
<footer class="page-footer font-small elegant-color-dark pt-4">

  <!-- Footer Elements -->
  <div class="container">

    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a class="btn-floating btn-fb mx-1" mdbWavesEffect>
          <mdb-icon fab icon="facebook"></mdb-icon>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-tw mx-1" mdbWavesEffect>
          <mdb-icon fab icon="twitter"></mdb-icon>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-ins mx-1" mdbWavesEffect>
          <mdb-icon fab icon="instagram"></mdb-icon>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-yt mx-1" mdbWavesEffect>
          <mdb-icon fab icon="youtube"></mdb-icon>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-so mx-1" mdbWavesEffect>
          <mdb-icon fab icon="snapchat"></mdb-icon>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-li mx-1" mdbWavesEffect>
          <mdb-icon fab icon="linkedin"></mdb-icon>
        </a>
      </li>
    </ul>

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright |
    <a href="https://mdbootstrap.com/education/bootstrap/"> NATION SOUNDS by Live Events</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
